{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ post.location }}. {{ post.date }}
{% endblock title %}

{% block content %}
  <div class="container py-5">
    <article>
      <table class="table">
        <tbody>
        <tr>
          <td class="col-1">Место</td>
          <td class="col-11">{{ post.location }}</td>
        </tr>
        <tr>
          <td class="col-1">Дата</td>
          <td class="col-11">{{ post.date }}</td>
        </tr>
        <tr>
          <td class="col-1">Категория</td>
          <td class="col-11"><a href="{% url 'blog:category_posts' post.category %}">{{ post.category }}</a></td>
        </tr>
        </tbody>
      </table>
      <p>
        {{ post.text|linebreaksbr }}
      </p>
    </article>
  </div>
{% endblock content %}
